[submodule "Hog"]
    path = Hog
    url = https://gitlab.cern.ch/hog/Hog.git
	branch = v0.0.14
[submodule "dataformats"]
	path = dataformats
	url = ../dataformats.git
	branch = master
[submodule "hw/sl/my-sl-gty-interface"]
	path = hw/sl/my-sl-gty-interface
	url = ../../okumura/my-sl-gty-interface
[submodule "hw/lpgbt/lpgbt-emul"]
	path = hw/lpgbt/lpgbt-emul
	url = ../lpgbt-emul.git
[submodule "hw/lpgbt/lpgbt-fpga"]
	path = hw/lpgbt/lpgbt-fpga
	url = ../../gbt-fpga/lpgbt-fpga.git
[submodule "hw/mgt/tx_phase_aligner"]
	path = hw/mgt/tx_phase_aligner
	url = ../../HPTD/tx_phase_aligner.git
[submodule "hw/lpgbt/gbt-sc"]
	path = hw/lpgbt/gbt-sc
	url = ../gbt-sc.git
