---
variables:
  HOG_CHECK_PROJVER: 1
  HOG_CHECK_SYNTAX: 1
  HOG_SIMULATION_LIB_PATH: "/opt/QuestaLibs"
  HOG_PATH: "/opt/questa/2019.4_4/questasim/linux_x86_64/:/mnt/vd/questa/2019.4_4/questasim/linux_x86_64/:/opt/dtc/:/opt/Xilinx/Vivado/2022.2/bin/:/opt/questa2022.2/questasim/bin/"
  HOG_APPTAINER_IMAGE: "/Data/images/l0mdt_Ubuntu20.04.viv2022.2.sif"
  HOG_LOGGER: ""
  HOG_COLORED: ""

include:
  - project: 'hog/Hog'
    file: '/hog.yml'
    ref: 'Hog2024.1'
  - local: "/.user_jobs.yml"
  - local: '/.devel_to_master.yml'

generate:
  extends: .generate_project
  variables:
    extends: .vars
  parallel:
    matrix:
      - PROVIDER: argos
        PROJECT_NAME: [ull/vu13p/ull_vu13_b3a_tar, l0mdt/vu13p/l0mdt_vu13p_ba3_ucm_mpl_tar_hps,ull/vu13p/ull_vu13_3ba_ucm012_mpl012]
        HOG_ONLY_SYNTH: 1
      - PROVIDER: "2022.2"
        PROJECT_NAME: [l0mdt/vu13p/l0mdt_vu13p_lsf_upt]
        HOG_ONLY_SYNTH: 1
      - PROVIDER: argos
        PROJECT_NAME: [l0mdt/vu13p/l0mdt_vu13p_csf_mpt, l0mdt/vu13p/l0mdt_vu13p_ull_empty, l0mdt/ku15p/l0mdt_ku15p_ull_empty, l0mdt/ku15p/l0mdt_ku15p_ull_fm, l0mdt/vu13p/l0mdt_vu13p_hal_all_csm]
      - PROVIDER: "2022.2"
        PROJECT_NAME: [l0mdt/ku15p/l0mdt_ku15p_ull_ucm, ull/vu13p/ull_vu13_b3a_ucm_mpl]
        HOG_ONLY_SYNTH: 1
      - PROVIDER: "2022.2"
        PROJECT_NAME: [MainBlocks/BA3_ucm010_ku15, MainBlocks/BA3_ucm010_vu13, MainBlocks/BA3_ucm012_ku15, MainBlocks/BA3_ucm012_vu13, MainBlocks/BA3_tar, MainBlocks/BA3_hps_csf_bp, MainBlocks/BA3_heg]
        HOG_ONLY_SYNTH: 1
  tags:
    - ${PROVIDER}

conf_check:
  extends: .check_list_and_conf
  variables:
    extends: .vars
  parallel:
    matrix:
      - PROJECT_NAME: [l0mdt/vu13p/l0mdt_vu13p_lsf_upt]

riviera:
  extends: .riviera_sim
  variables:
    extends: .vars
  parallel:
    matrix:
      - PROJECT_NAME: [MainBlocks/ptc_mpi, MainBlocks/BA3_tar, MainBlocks/BA3_ucm012_vu13, MainBlocks/BA3_hps_csf_bp, MainBlocks/BA3_heg]
  allow_failure: true

questa:
  extends: .simulate_project
  variables:
    extends: .vars
  parallel:
    matrix:
      - PROJECT_NAME: 
        - MainBlocks/BA3_tar
        - MainBlocks/BA3_ucm012_vu13
        - MainBlocks/BA3_heg
        - ull/vu13p/ull_vu13_b3a_ucm_mpl
        - ull/vu13p/ull_vu13_3ba_ucm012_mpl012
        - ull/vu13p/ull_vu13_b3a_tar
        PROVIDER: questa
  allow_failure: false
  tags:
    - ${PROVIDER}

sim_comp:
  extends: .sim_comp
  variables:
    extends: .vars
  parallel:
    matrix:
      - PROJECT_NAME: MainBlocks/BA3_tar
        PROJECT_Q_NAME: MainBlocks/BA3_tar_questa
        PROJECT_R_NAME: MainBlocks/BA3_tar_riviera
      - PROJECT_NAME: MainBlocks/BA3_ucm012_vu13
        PROJECT_Q_NAME: MainBlocks/BA3_ucm012_vu13_questa
        PROJECT_R_NAME: MainBlocks/BA3_ucm012_vu13_riviera
      - PROJECT_NAME: MainBlocks/BA3_hps_csf_bp
        PROJECT_Q_NAME: MainBlocks/BA3_hps_csf_bp_questa
        PROJECT_R_NAME: MainBlocks/BA3_hps_csf_bp_riviera
      - PROJECT_NAME: MainBlocks/BA3_heg
        PROJECT_Q_NAME: MainBlocks/BA3_heg_questa
        PROJECT_R_NAME: MainBlocks/BA3_heg_riviera
  needs: ["questa", "riviera"]


sim_check:
  extends: .sim_check
  needs: ["riviera", "questa"]
  parallel:
    matrix:
      - PROJECT_NAME: [MainBlocks/ncsf]
        SIMULATOR: riviera
        BLOCK: CSF
      - PROJECT_NAME: [MainBlocks/ptc_mpi]
        SIMULATOR: riviera
        BLOCK: PTC
      - PROJECT_NAME: [MainBlocks/BA3_tar]
        SIMULATOR: questa
        BLOCK: BA3_tar
      - PROJECT_NAME: [MainBlocks/BA3_ucm012_vu13]
        SIMULATOR: questa
        BLOCK: BA3_ucm012_vu13
      - PROJECT_NAME: [MainBlocks/BA3_hps_csf_bp]
        SIMULATOR: questa
        BLOCK: BA3_hps_csf_bp
      - PROJECT_NAME: MainBlocks/BA3_heg
        BLOCK: BA3_heg
        SIMULATOR: questa
  artifacts:
    name: sim_check
    paths:
      - bin
    expire_in: "30 days"

cocotb:
  extends: .cocotb_test
  stage: generation_and_simulation
  parallel:
    matrix:
      - COCOTB_TEST: [lsf_inn, lsf_mid, lsf_out, mtc, ptcalc, ucm, ult_tar, hps_inn, polmux]
