vivado*
*.jou
*.o
*~
#*#
*.pyc
.cxl.ip/
cxl_error.log
*.log
Vivado*
Modelsim*
profpga
*.out
bin*/
*.Xil
*/scripts/VHDL
transcript
SimulationLib
*.tmp
xvlog*
.vscode/
BD/*
!BD/*.bd

# Ignore everything but xci files in the HAL IP
!HAL/IP/*/*/*
HAL/IP/*/*/*
!HAL/IP/*/*/*.xci

!**/IP/**/*.xci
UserLogic/*/IP/**/*
UserLogic/*/IP/*/*/*
!UserLogic/*/IP/*/*/*.xci
UserLogic/ucm/IPs/*/*/*
!UserLogic/ucm/IPs/*/*/*.xci
!IP/**/*.xci
!IP/**.xci
*.dbg
*.zip
*.tar
work/
transcript
*.wlf
vsim.dbg
modelsim.ini
.gitlab-ci_*.yml
_hdl_checker/
*.o
*.cf
env/
.cxl.questasim.*
.cxl.questa.*
.cxl.riviera.*
compile_simlib.log.bak
library.cfg
Projects/
__init__.py
*.vstf
.nfs*
kernel/
package.json
*/package.json
Plots
*.rst
**/*.yml.old
xproj
*.xlsx
Top/*/*/*/bd/*
Top/*/*/*/c2cslave_pkg.vhd
Top/*/*/bd/*
Top/*/*/c2cslave_pkg.vhd
#test*/
configs/
make.log

Doc/
