[submodule "Hog"]
    path = Hog
    url = https://gitlab.cern.ch/hog/Hog.git
[submodule "dataformats"]
	path = dataformats
	url = ../dataformats.git
	branch = master
[submodule "HAL/sl/src/my-sl-gty-interface"]
	path = HAL/sl/src/my-sl-gty-interface
	url = ../../okumura/my-sl-gty-interface
[submodule "HAL/hal/lpgbt/lpgbt-emul"]
	path = HAL/lpgbt/src/lpgbt-emul
	url = ../lpgbt-emul.git
[submodule "HAL/lpgbt/lpgbt-fpga"]
	path = HAL/lpgbt/src/lpgbt-fpga
	url = ../../gbt-fpga/lpgbt-fpga.git
[submodule "HAL/hal/src/mgt/tx_phase_aligner"]
	path = HAL/hal/src/mgt/tx_phase_aligner
	url = ../../HPTD/tx_phase_aligner.git
[submodule "HAL/lpgbt/gbt-sc"]
	path = HAL/lpgbt/src/gbt-sc
	url = ../gbt-sc.git
[submodule "regmap"]
	path = regmap
	url = https://github.com/andrewpeck/uHAL_AXI_regmap.git
[submodule "tools/yml2hdl"]
	path = tools/yml2hdl
	url = https://gitlab.com/tcpaiva/yml2hdl.git
[submodule "HAL/c2c/src/bd"]
	path = HAL/c2c/src/bd
	url = https://github.com/dgastler/BU_BUILD.git
[submodule "tools/gldl-scripts"]
	path = tools/gldl-scripts
	url = ../../gloustau/l0mdt-scripts.git
[submodule "tools/simComp"]
	path = tools/simComp
	url = ../../gloustau/l0mdt-sim-comp.git
[submodule "tools/simCheck"]
	path = tools/simCheck
	url = ../../umass-l0mdt/software/l0mdt-ov-analysis.git
[submodule "l0mdt-hls"]
	path = l0mdt-hls
	url = ../l0mdt-hls.git
[submodule "IP_repository/SpyBuffer"]
	path = IP_repository/SpyBuffer
	url = ../../atlas-tdaq-p2-firmware/tdaq_shared_firmware/spybuffer.git
[submodule "shared/mpcvmem"]
	path = shared/mpcvmem
	url = https://github.com/taquionbcn/mpcvmem.git
