vivado* 
*~ 
*.pyc 
.cxl.ip/ 
cxl_error.log
*.log
Vivado*
Modelsim*
profpga
*.out
bin*/
*.Xil
*/scripts/VHDL
transcript
SimulationLib
*.tmp
xvlog*
.vscode/
BD/*
!BD/*.bd
IP/*/*
!IP/*/*.xci
*.dbg
*.zip
work/
transcript
*.wlf
vsim.dbg
modelsim.ini

