/dts-v1/;
/plugin/;
 
/ {
	fragment@0 {
	    target = <&amba_pl>;
	    __overlay__ {
        #address-cells = <1>;
        #size-cells = <1>;
       axiSlaveMTC: MTC@83C4A000 {
        reg = <0x83C4A000 0x1000>;
        compatible = "generic-uio";
        label = "MTC";
        linux,uio-name = "MTC";

      };
    };
  };
};
